@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
}
.container .section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
}
.header {
  position: relative;
}
.content {
  position: absolute;
  width: 500px;
  height: 250px;
  margin: auto;
  top: 25px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 700;
  font-weight: 300;
  color: #fff;
}
.card::before {
  content: "";
  position: absolute;
  z-index: 1;
  border-radius: 12px;
  text-align: center;
  width: 500px;
  height: 250px;
  top: 50%;
  left: 50%;
  background: linear-gradient(-45deg, rgb(226, 194, 14), #ff0055);
  transform: translate(-50%, -50%);
  filter: blur(2px);
}

h4,
h3,
input [type="radio"] {
  position: relative;
  font-family: "Fjalla One", sans-serif;
}
input[type="radio"]:hover {
  cursor: pointer;
  background-color: rgb(19, 14, 14);
}
input [type="radio"] {
  margin: 10px;
}
label {
  display: inline-block;
  position: relative;
  font-weight: 100;
  font-size: 15px;
  padding: 2px 2px;
  border-bottom: 2px blue solid;
  font-family: "Fjalla One", sans-serif;

  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}
label:hover {
  color: rgb(91, 224, 64);
}
.nrlTeams {
  border-radius: 50px;
}
#gio {
  position: relative;
  height: 150px;
  width: 350px;
  transform: skewY(2deg);
}
#gio:hover {
  box-shadow: 0 15px 10px #777;
}
#sterlo {
  position: absolute;
  height: 145px;
  width: 33%;
  left: 0;
  top: 56px;
  margin: auto;
  bottom: 0;
  right: 0;
}
#lockyer {
  position: absolute;
  height: 155px;
  width: 275px;
  left: 0;
  top: 56px;
  margin: auto;
  bottom: 0;
  right: 0;
}
input[type="button"] {
  position: absolute;
  display: block;
  width: 100px;
  height: 30px;
  margin: 100px auto;
  right: 0;
  bottom: 0;
  left: 0;
  /* top: 12px; */
  background: #0d93a2;
}
/* .content .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(30px);
} */
.content .card {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .section:nth-child(1) {
  background: #f00 url("./images/steeden.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container .section:nth-child(2) {
  background: rgb(52, 28, 107) url("./images/steeden.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container .section:nth-child(3) {
  background: rgb(80, 155, 37) url("./images/steeden.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container .section:nth-child(4) {
  background: rgb(167, 18, 110) url("./images/steeden.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.container .section:nth-child(5) {
  background: rgb(172, 209, 8) url("./images/steeden.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.container .section:nth-child(6) {
  background: rgb(87, 82, 82) url("./images/steeden.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.container .section:nth-child(7) {
  background: rgb(0, 183, 255) url("./images/steeden.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.container .section:nth-child(8) {
  background: rgb(200, 108, 192) url("./images/steeden.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.container .section:nth-child(9) {
  background: rgb(255, 166, 0) url("./images/steeden.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.container .section:nth-child(10) {
  background: rgb(192, 28, 28) url("./images/steeden.jpg");
  background-size: cover;
  background-attachment: fixed;
}
#noExtraContent {
  height: 125px;
}
/*
.content .card:nth-child(even)::before,
.content .card:nth-child(even)::after {
  background: linear-gradient(-50deg, rgb(26, 194, 14), #ff55);
} */

.imageContainer {
  position: relative;
  width: 300px;
  height: 130px;
  border-radius: 10px;
  margin: auto;
  animation: slide 30s infinite alternate;
  z-index: 10;
}

@keyframes slide {
  25% {
    background: url("./images/benji.jpg");
  }
  50% {
    background: url("./images/fifita.jpg");
  }
  75% {
    background: url("./images/wighton.jpeg");
  }
  100% {
    background: url("./images/smith.png");
  }
}

.progress {
  position: relative;
  width: 250px;
  height: 30px;
  left: 0;
  border-radius: 10px;
  background: rgb(87, 94, 94);
  overflow: hidden;
  margin: 10px;
}
.progress-fill {
  width: 0%;
  height: 30px;
  background: #009579;
  transition: all 0.3s;
}
.progress-title {
  position: absolute;
  display: none;
  top: 5px;
  right: 5px;
  transform: translate(-50%);
  font: bold 8px;
  color: #fff;
}
